# Carpetas que Unity genera automáticamente
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
Logs/
UserSettings/

# Archivos de Visual Studio
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Archivos del sistema
.DS_Store
Thumbs.db

.vscode/

videos
ml-agents/